@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;500&family=Bebas+Neue&display=swap');
*{
    margin:0%;
    padding:0%;
}

html, body {
    width:100%;
    height:100%;
}

/* PAGE STRUCTURE */

body{
    display:grid;
    grid-template-rows:auto 1fr auto;
    background-image: url(../imgs/lachlan-dempsey-6VPEOdpFNAs-unsplash.jpg);
    background-size: cover;
    background-position: 50% 15%;
}

main{
    display:grid;
    grid-template-columns: 1fr 1fr;
    
}

.importance, .further-readings{
    background-color:#F0DADA;
    margin: 7%;
    text-align: center;
    margin-bottom: 25%;
    font-family: 'Bebas Neue', cursive;
    font-size:30px;
    font-weight: lighter;
}

.importance, .further-readings, .text1, .text2{
    border-radius:1%;
}

.further-readings{
    margin-bottom: 12%;
}
    
.text1, .text2{
    background-color:#FEDDCA;
    padding: 2%;
    display: block;
    font-size: 55px;

}
p{
    margin-top: 4%;
    font-weight: lighter;
    font-size: 25px;
    margin-bottom: 4%;
}

h2{
    margin-top: 4%;
    background-color: #FEDDCA;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 40px;
    font-weight: lighter;
}

.ap a{
    color: rgb(43, 43, 43);
    text-decoration: none;
}

.ap a:hover{
    background-color: rgb(201, 198, 198);

}
/* NAVIGATION STYLES */

nav{
    display:flex;
    justify-content: space-between;
    background-color:#F0DADA;
    font-family: 'Bebas Neue', cursive;
    font-size:25px;
    font-weight: lighter;
}

nav ul{
    display:flex;
    justify-content:space-between;
    width:100%;
}

nav ul li{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display:inline-block;

}

nav ul li a{
    text-decoration: none;
    padding: 0.5em;
    transition: all 0.5s;
    color:black;

}

nav ul li a:hover{
    background-color:#f7eaea;
}

.other-redirect{
    display:flex;
    justify-content:flex-end;
    width:100%;
}
